/* TODO: Remove `@import` to improve performance */
@import url("navbar.css");
@import url("dark.css");
@import url("tiles.css");
@import url("notes.css");

:root {
    --highlight-weak: rgba(128, 128, 128, 0.2);
    --highlight-strong: rgba(128, 128, 128, 0.4);
    --radius-sm: 0.2rem;
}

/* base font size */
html {
    font-size: 10pt;
}

/* responsive media */
img,
svg {
    max-height: 80vh;
}


/* TODO: Remove hack for math zooming */
figure[role="math"] {
    transform: scale(140%);
    transform-origin: top left;
}

/* TODO: Think about hovering margin notes */
@media (max-width: 760px) {

    /* Disable collapsing of marginnotes on narrow screens */
    .marginnote {
        display: block;
        float: none;
        position: static;
        padding-left: 1.2rem;
        width: 100%;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    /* Limit image width on narrow screens */
    .marginnote img,
    .marginnote svg {
        max-width: calc(760px / 3);
        margin: 0 auto;
        display: block;
    }

    /* Enable hyphenation on narrow screens */
    p {
        hyphens: auto !important;
    }

}
